
.vs/Payment_manager/DesignTimeBuild/

.vs/Payment_manager/v17/

*.v2

Payment_manager/bin/Debug/net6.0/

Payment_manager/obj/

.vs/Payment_manager/FileContentIndex/

Logs/

.vs/ProjectEvaluation/

.vs/Payment_manager/config/

.vscode/

*.log

Payment_manager/bin/Release/net6.0/
/Resources/Codes
/Payment_manager/wwwroot/resources/~$~$Search_Format.xlsx
